
.Restaurant_Container_Header{

    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 40px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 5px;

.editprofile_h2{

    color: #7451f8;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 1.5px;
    

}
}

.Restaurant_Container_Body{

    display: flex;
	align-items: center;
    justify-content: center;
    width: 100%;

.left_container {

    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 40px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 5px;
    width: 40%;
    display: inline-block;
   
  

    .restaurant_logo{
            width: 240px;
            height: 240px;
            border-radius: 20%;
            margin: auto;
            // margin-bottom: 10px;
            // margin-top: 10px;
            margin-left: 10px;
            padding-bottom: 1.5px;
            padding-top: 1.5px;
            border: 1px solid #999;
            background-color: #fff;
            box-shadow: 0px 0px 5px #999;
            

    }

    .changelogo_btn{

        background-color: #999; /* Green background */
        border: 1px solid darkgrey; /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        max-width: 100%;
        width: 150px; /* Set a width if needed */
        text-align: center; 
        display: inline-block;
        border-radius: 5px;
        margin:auto;
        margin-bottom: 10px;
        height: 40px;
        margin-right: 2px;
        

        &:hover{
            background-color: #7451f8;
        }
    }
    .deletelogo_btn{

        // margin-bottom: 10px;
        background-color: #999; /* Green background */
        border: 1px solid darkgrey; /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        max-width: 100%;
        width: 150px; /* Set a width if needed */  
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        margin:auto;
        margin-bottom: 10px;
        height: 40px;
        margin-left: 2px;

        &:hover{
            background-color: #7451f8;
        }
    }

}

.right_container{
    display: block;
    width: 50%;

    .editInformation_form_container{



        .editInformation_form{

            display: block;
            padding: 10px;

            .Admin_input{
                outline: none;
                border: none;
                width: 370px;
                padding: 15px;
                border-radius: 10px;
                background-color: rgb(239, 239, 239);
                margin: 5px 0;
                font-size: 14px;
            }

            .green_btn{
              
                background-color: #999; /* Green background */
                &:hover{

                    background-color: #7451f8;
                }
            }




        }
    }
    

}

    
    }
