.Header{
display: block;
height: 50px;
}


.checkout {
    display: flex;
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    height: max-content;
  }
  
  .checkout__left{
   width: 60%;
   color: #3d2514;

   .hr{
    color : #3d2514
   }

  }

  
  .checkout__ad {
    width: 100%;
    margin-bottom: 10px;
    object-fit: contain;
    height: 200px;
  }


  
  .checkout__title {
    margin-right: 10px;
    padding: 4px;
    border-bottom: 1px solid lightgray;
  }