// .list{
// .CustomNavbar{
//     width: 100%;
//     position: fixed;
//     margin-bottom: 20px;
// }

// }

.header{
    margin-top: 20px;
    display: block;
    justify-content: space-between;

    .home_h1{
        
    }
}

